<h1>Albums:</h1>
<div class="albums/album">
</div>
{{!-- {{#each albums}}
    <div>
        <strong>{{ albums }}</strong>
        <a href="" action="">Check out the tracks!</a>
    </div>
{{/each}} --}}