{{#each artist}}
<div class="artist-search-results">

    <div name="term">
        <strong>{{ name }}</strong>
        <img src="{{ images }}" />
        <a href="/albums/{{id}}">Check the albums</a>
    </div>
</div>
{{/each}}